<form class="" action="/" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="text" name="name" value="">
  <button>Submit</button>
</form>
