<div class="exception">
  <h1><%= status %> Error</h1>

  <div class="error">
    <%= error.message %>
  </div>

  <ul class="error backtrace">
  <% error.backtrace.each do |line| %>
    <li><%= line %></li>
  <% end %>
  </ul>
</div>
